extends layout

append scripts
	script(src='portfolio.js')

block content
	h2 Portfolio 
	#portfolio
		if portfolio.length
			table
				tr
					th Date
					th Stock
					th Quantity
					th Paid
					th Paid Total
					th Price Now
					th Profit
					th Sell
				each item in portfolio
					tr
						td #{item.created}
						td: a(href='/stock/'+item.stockID)
							img(src=item.image)
							span #{item.stockID}
						
						td #{item.quantity}
						td $#{item.cost}
						td.total $#{item.total}

						td $#{item.currentPrice}
						td.diff $#{item.difference}

						td.form(data-id='sell')
							input.quantity(type='number', value='1', min='1', max=item.quantity)
							input.cost(type='number', value=item.currentPrice, step='0.001', min='0.001')
							input.portfolioID(type='hidden', value=item.portfolioID)
							button ask
		else
			strong You do not have any Shares 


	h2 Buying
	#buying
		if buying.length
			table
				tr
					th Created
					th Stock
					th Quantity
					th Cost
					th Total

				each item in buying
					tr
						td #{item.created}
						td #{item.stockID}
						td.quantity #{item.quantity}
						td.cost $#{item.cost}
						td.total $#{item.total}

		else
			strong You do not have any bids

	h2 Selling
	#selling
		if selling.length
			table
				tr
					th Created
					th Stock
					th Quantity
					th Cost
					th Total

				each item in selling
					tr
						td #{item.created}
						td #{item.stockID}
						td.quantity #{item.quantity}
						td.cost $#{item.cost}
						td.total $#{item.total}

		else
			strong You do not have any asks