extends layout

block content
	#wrapper
		.column
			h2 Legends
			table
				each item, i in top
					tr
						td #{i}
						td.name #{item.userName}
						td.price.green $#{item.money}


		.column
			h2 Washouts
			table
				each item, i in worst
					tr
						td #{i}
						td.name #{item.userName}
						td.price.red $#{item.money}